<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.6.2" targetFramework="net40" developmentDependency="true" />
  <package id="NuSpec" version="2.1.0" targetFramework="net40" />
  <package id="OctoPack" version="3.6.3" targetFramework="net40" developmentDependency="true" />
  <package id="OctoPack.MigratorDotnet" version="1.1.0" targetFramework="net40" />
  <package id="OctoPack.Precompile" version="2.0.1" targetFramework="net40" developmentDependency="true" />
  <package id="OctoPackAssemblyVersion" version="1.0.0" targetFramework="net40" />
</packages>